:root {
  --primary: #f16718;
  --primary-light: #ff9b62;
  --secondary: #162542;
  --bluegrey: #7b8bad;
  --lightblue: #e8eff2;
  --white: #fff;

  --fs-barlow: "Barlow", sans-serif;

  --base-size: 1.2rem;
  --scale: 1.25;

  --xl: calc(var(--lg) * var(--scale));
  --lg: calc(var(--h1) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h5: calc(var(--h6) * var(--scale));
  --h6: var(--base-size);
  --small: calc(var(--base-size) / var(--scale));
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--fs-barlow);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: var(--xl);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

img {
  max-width: 100%;
}
